Author: Mohamed-Amine Baazizi
Affiliation: LIP6 - Faculté des Sciences - Sorbonne Université
Email: mohamed-amine.baazizi@lip6.fr

# Prise en main de Scala (30 mn)

Cet exercice illustre les différentes structures de contrôle de Scala présentées en cours. 
Il permet de comprendre le paradigme fonctionnel : seules les fonctions `map, reduce, flatten, filter, flatMap` sont autorisées.

Temps consillé : 30 mn

## Question 1

Définir trois fonctions qui prennent en entrée une liste d'entiers `liste` et réalisent les opérations suivantes:
* `maxEntiers` retourne le plus grand des entiers de `liste` 
* `scEntiers` retourne la somme des carrés des entiers de `liste`
* `moyEntiers` retourne la moyenne des entiers de `liste`

Tester votre réponses en invoquant ces fonctions sur `listeEntiers` définie comme suit

In [1]:
val listeEntiers = List.range(1,11)

Intitializing Scala interpreter ...

Spark Web UI available at http://134.157.24.93:4042
SparkContext available as 'sc' (version = 2.4.4, master = local[*], app id = local-1574269481910)
SparkSession available as 'spark'

listeEntiers: List[Int] = List(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [2]:
def maxEntiers(liste:List[Int]) = liste.reduce((a,b)=>if(a>b)a else b)
maxEntiers(listeEntiers)

maxEntiers: (liste: List[Int])Int
res0: Int = 10

In [3]:
val meanTupl=listeEntiers.map(x=>(x,1)).reduce((a,b)=>(a._1+b._1,a._2+b._2))
meanTupl._1/meanTupl._2

meanTupl: (Int, Int) = (55,10)
res1: Int = 5

In [4]:
def scEntiers(myList:List[Int])= myList.map(x=>x*x).reduce((a,b)=>a+b)
scEntiers(listeEntiers)

scEntiers: (myList: List[Int])Int
res2: Int = 385

In [5]:
def moyEntiers(myList:List[Int])={
    //myList.reduce((a,b)=>a+b)/myList.length
    val meanTupl=myList.map(x=>(x,1)).reduce((a,b)=>(a._1+b._1,a._2+b._2))
    meanTupl._1/meanTupl._2
    }
moyEntiers(listeEntiers)

moyEntiers: (myList: List[Int])Int
res3: Int = 5

## Question 2

Soit une liste chaine de caractères construite à l'aide de l'instruction suivante.

In [6]:
val listeTemp = List("7,2010,04,27,75", "12,2009,01,31,78", "41,2009,03,25,95", "2,2008,04,28,76", "7,2010,02,32,91")

listeTemp: List[String] = List(7,2010,04,27,75, 12,2009,01,31,78, 41,2009,03,25,95, 2,2008,04,28,76, 7,2010,02,32,91)

Chaque élément représente un enregistrement fictif de températures avec le format (station, année, mois, température, code_département). On voudrais calculer pour, l'année 2009, le maximum et la moyenne de ses températures.
Compléter l'instruction suivante qui permet les transformations et les conversions de type nécessaires pour l'évaluation de ces deux calculs.

In [7]:
val temp2009 = listeTemp.map(x=>x.split(",")).filter(x=>x(1)=="2009").map(x=>(x(3).toInt))

println("max des temps " + maxEntiers(temp2009))

println("moy des temps " + moyEntiers(temp2009))

max des temps 31
moy des temps 28

temp2009: List[Int] = List(31, 25)

## Question 3

Soit une liste chaine de caractères construite à l'aide de l'instruction suivante.

In [8]:
val melange = List("1233,100,3,20171010", "1224,22,4,20171009", "100,lala,comedie", "22,loup,documentaire")

melange: List[String] = List(1233,100,3,20171010, 1224,22,4,20171009, 100,lala,comedie, 22,loup,documentaire)

Deux types d'éléments existent : ceux de la forme (userID, movieID, rating, timestamp) et ceux de la forme (movieID, title, genre). Le domaine des userID est [1000, 2000] et celui des movieID est [0, 100].

Il est demandé de construire à partir de `melange` deux listes distinctes :

* `notes` contenant les éléments de la forme (userID, movieID, rating, timestamp) et dont le type est (Int, String, Int, Int) 
* `films` contenant les éléments de la forme (movieID, title, genre) et dont le type est (Int, String, String).

In [9]:
val notes = melange.map(x=>x.split(",")).filter(x=>x(0).toInt>=1000).map(x=>(x(0).toInt,x(1),x(2).toInt,x(3).toInt))
val films = melange.map(x=>x.split(",")).filter(x=>x(0).toInt<=100).map(x=>(x(0).toInt,x(1),x(2)))

notes: List[(Int, String, Int, Int)] = List((1233,100,3,20171010), (1224,22,4,20171009))
films: List[(Int, String, String)] = List((100,lala,comedie), (22,loup,documentaire))

## Question 4

Soit une liste personnes contenant des tuples ayant trois attributs décrivant des personnes :

* le premier attribut est le nom de la personne;
* le second attribut est le type de la personne : etudiant (etu), enseignant (ens) ou inconnu (nan);
* la troisième attribut est l'année d'inscription (s'il s'agit d'un étudiant) ou les années d'ancienneté pour les enseignants.

In [10]:
val personnes = List(("Joe", "etu", 3), ("Lee", "etu", 4), ("Sara", "ens", 10), ("John", "ens", 5), ("Bill", "nan",20))

personnes: List[(String, String, Int)] = List((Joe,etu,3), (Lee,etu,4), (Sara,ens,10), (John,ens,5), (Bill,nan,20))

Définir une classe `Etu(nom:String, annee:Int)` et une classe `Ens(nom:String, annee:Int)`

Transformer la liste `personnes` en une liste d'objets de la classe `Etu` ou `Ens` encapsulant les information des tuples en entrée. Par exemple, le tuple `("Joe", "etu", 3)` devra être transformé en un objet `Etu("Joe", 3)`.

Attention Les personnes de type inconnu ne doivent être dans le résultat!

Utiliser le pattern matching pour répondre à cette question.

In [11]:
case class Etu(nom:String, annee:Int)
case class Ens(nom:String, annee:Int)
personnes.filter(x=>x._2!="nan").map{
    case(nom,"etu",annee)=>Etu(nom, annee)
    case(nom,"ens",annee)=>Ens(nom, annee)
}

defined class Etu
defined class Ens
res5: List[Product with Serializable] = List(Etu(Joe,3), Etu(Lee,4), Ens(Sara,10), Ens(John,5))

# Prise en main de Spark RDD

Prendre le temps de lire la documentation Spark sur l'utilisation des RDD
https://spark.apache.org/docs/latest/rdd-programming-guide.html

et sur l'API RDD
https://spark.apache.org/docs/2.1.1/api/scala/index.html#org.apache.spark.rdd.RDD

## Préparation datasets

Créer un répertoire dans votre dossier `tmp` en tapant

`mkdir -p /tmp/BDLE/dataset`

* Pour le dataset `wordcount` copier en tapant

 `cp /Infos/bd/spark/bdle/2015/data/wordcount.txt.bz2 /tmp/BDLE/dataset` 
 
 `cd /tmp/BDLE/dataset`
 
 `bunzip2 wordcount.txt.bz2`
  
  Vérifier que vous avez bien le fichier `wordcount.txt`


* Pour le dataset `books` copier en tapant

    `cp -r /Infos/bd/spark/dataset/Books /tmp/BDLE/dataset`

    `cd /tmp/BDLE/dataset/Books`
    
     Vérifier que vous avez bien les fichiers 
     
     `books.csv`  `ratings.csv`	et `users.csv`

## Exercice 1 (30 mn)

Cet exercice utilise le dataset `wordcount`

Exécuter la commande suivante pour le charger dans la valeur `data` et tester que le chargement marche bien en lisant les 10 premieres lignes.

In [12]:
val path = "C:/Users/yousef/Desktop/" 
val data = sc.textFile(path + "wordcount.txt")

data.take(10)

path: String = C:/Users/yousef/Desktop/
data: org.apache.spark.rdd.RDD[String] = C:/Users/yousef/Desktop/wordcount.txt MapPartitionsRDD[1] at textFile at <console>:26
res6: Array[String] = Array(de.b %C3%96ffentliches_Recht/_Assex/_Hessen/_Handakte/_Widerspruchsbescheid_1 1 8533, de.b 2:WorldTraveller101 1 5744, de.b A._Einstein,_Ist_die_Tr%C3%A4gheit_eines_K%C3%B6rpers_von_seinem_Energieinhalt_abh%C3%A4ngig%3F_-_Kommentiert_und_erl%C3%A4utert. 1 9290, de.b A_Poem_a_Day/_2._September:_Verg%C3%A4nglichkeit_der_Sch%C3%B6nheit_(Christian_Hoffmann_von_Hoffmannswaldau) 1 23801, de.b Adventskalender_2009 1 13741, de.b Adventskalender_2011 1 13509, de.b Algorithmensammlung:_Graphentheorie:_Dijkstra-Algorithmus 1 8015, de.b Allgemeine_und_Anorganische_Chemie/_Atombau 1 15108, de.b Analysis 1 ...

*Remarque* pour partitionner une chaîne de caractères en utilisant le point (.) comme délimiteur à l'aide de la méthode `split()`, il faut protéger le point avec deux backslahs comme suit `split("\\.")`

#### Q1. Structurer le contenu de data de sorte à obtenir un tableau de tableaux de chaines de caractères. Ce dernier devra être stocké dans une nouvelle variable nommée list.

In [13]:
val list = data.map(x=>x.split(" "))

list.take(10)

list: org.apache.spark.rdd.RDD[Array[String]] = MapPartitionsRDD[2] at map at <console>:26
res7: Array[Array[String]] = Array(Array(de.b, %C3%96ffentliches_Recht/_Assex/_Hessen/_Handakte/_Widerspruchsbescheid_1, 1, 8533), Array(de.b, 2:WorldTraveller101, 1, 5744), Array(de.b, A._Einstein,_Ist_die_Tr%C3%A4gheit_eines_K%C3%B6rpers_von_seinem_Energieinhalt_abh%C3%A4ngig%3F_-_Kommentiert_und_erl%C3%A4utert., 1, 9290), Array(de.b, A_Poem_a_Day/_2._September:_Verg%C3%A4nglichkeit_der_Sch%C3%B6nheit_(Christian_Hoffmann_von_Hoffmannswaldau), 1, 23801), Array(de.b, Adventskalender_2009, 1, 13741), Array(de.b, Adventskalender_2011, 1, 13509), Array(de.b, Algorithmensammlung:_Graphentheorie:_Dijkstra-Algorithmus, 1, 8015), Array(de.b, Allgemeine_und_Anorganische_Chemie/_Atombau, 1, 15108), Array(...

#### Q2. Afficher les 100 premiers éléments de la 3e colonne de `list`.

In [14]:
val q2 = list.map(x=>x(2))

q2.take(100)

q2: org.apache.spark.rdd.RDD[String] = MapPartitionsRDD[3] at map at <console>:26
res8: Array[String] = Array(1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 1, 5, 1, 3, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1)

#### Q3. Transformer le contenu de `list` en une liste de paires `(mot, nb)` où `mot` correspond à la première colonne de `list` et `nb` sa troisième colonne.

In [15]:
val q3 = list.map(x=>(x(0),x(2).toInt))

q3.take(10)

q3: org.apache.spark.rdd.RDD[(String, Int)] = MapPartitionsRDD[4] at map at <console>:26
res9: Array[(String, Int)] = Array((de.b,1), (de.b,1), (de.b,1), (de.b,1), (de.b,1), (de.b,1), (de.b,1), (de.b,1), (de.b,1), (de.b,1))

#### Q4. Grouper les paires par l'attribut `mot` et additionner leur nombres respectifs.

In [16]:
val q4 = q3.reduceByKey((a,b)=>a+b)
q4.take(10)

q4: org.apache.spark.rdd.RDD[(String, Int)] = ShuffledRDD[5] at reduceByKey at <console>:26
res10: Array[(String, Int)] = Array((frr,493), (fr.n,959), (en.q,3202), (en.s,84086), (frp.mw,61), (fr.voy,1646), (de.q,721), (frr.mw,130), (frp,538), (fr.v,893))

#### Q5. Reprendre les questions Q3 et Q4 en calculant `mot` différemment : 

désormais, `mot` doit correspondre au préfixe du premier sous-élément de chaque élément de `list`, 

Exemple
* pour `en.d`, mot doit être `en`
* pour `fr.d`, mot doit être `fr`, etc. 

Comparer les résultats avec ceux obtenus précédemment.

In [17]:
val q5 =list.map(x=>(x(0).split("\\.").reduce((a,b)=>a),x(2).toInt))
q5.take(10)

q5: org.apache.spark.rdd.RDD[(String, Int)] = MapPartitionsRDD[6] at map at <console>:26
res11: Array[(String, Int)] = Array((de,1), (de,1), (de,1), (de,1), (de,1), (de,1), (de,1), (de,1), (de,1), (de,1))

In [18]:
val q6 =q5.reduceByKey((a,b)=>a+b)
q6.take(10)

q6: org.apache.spark.rdd.RDD[(String, Int)] = ShuffledRDD[7] at reduceByKey at <console>:26
res12: Array[(String, Int)] = Array((frr,623), (frp,599), (fr,1025597), (en,9428786), (de,984606))

## Exercice 2 (60 mn)

Pour cet exercice, on utilise le jeux de données Books qui renseigne sur des livres (books.csv), des utilsateurs (users.csv) et des notes réalisées par les utilsateurs (ratings.csv).

Les schémas des tables sont 

* `Users (userid: Number, country: Text, age: Number)`
* `Books (bookid: Number, titlewords: Number, authorwords: Number, year: Number, publisher: Number)`
* `Ratings (userid: Number, bookid: Number, rating: Number)`

In [19]:
val path = "C:/Users/yousef/Desktop/Books/" 

val books_data = sc.textFile(path + "books.csv")
val users_data = sc.textFile(path + "users.csv")
val ratings_data = sc.textFile(path + "ratings.csv")


books_data.take(10)
users_data.take(10)
ratings_data.take(10)

path: String = C:/Users/yousef/Desktop/Books/
books_data: org.apache.spark.rdd.RDD[String] = C:/Users/yousef/Desktop/Books/books.csv MapPartitionsRDD[9] at textFile at <console>:29
users_data: org.apache.spark.rdd.RDD[String] = C:/Users/yousef/Desktop/Books/users.csv MapPartitionsRDD[11] at textFile at <console>:30
ratings_data: org.apache.spark.rdd.RDD[String] = C:/Users/yousef/Desktop/Books/ratings.csv MapPartitionsRDD[13] at textFile at <console>:31
res13: Array[String] = Array(userid,bookid,rating, 276747,4780,4, 276747,1837,4, 276747,6277,3, 276762,7819,1, 276762,4885,3, 276772,27222,2, 276772,33829,5, 276772,83629,5, 276786,246867,3)

### Préparation

Afin de formater les données, créer une classe pour chaque table puis charger les données de chaque fichier dans une RDD content des objets de la classe.

In [20]:
class Users(var userid: Int, var country: String, var age: Int)
//a compléter
class Books (var bookid: Int, var titlewords: Int, var authorwords: Int, var year: Int, var publisher: Int) 
class Rating(var userid: Int, var bookid: Int, var rating: Int)

defined class Users
defined class Books
defined class Rating

In [21]:
val Users_header=users_data.first()
val Books_header=books_data.first()
val Rating_header=ratings_data.first()

Users_header: String = userid,country,age
Books_header: String = bookid,titlewords,authorwords,year,publisher
Rating_header: String = userid,bookid,rating

Pour chaque table, créer une RDD contenant des objets de la classe lui correspondant. Compléter les instructions ci-dessous.

In [22]:
val books = books_data.filter(x=>x!=Books_header).map(x=>x.split(",")).collect.toList.map{case Array(b,t,a,y,p)=>new Books(b.toInt,t.toInt,a.toInt,y.toInt,p.toInt)}
books.take(10)


val users=users_data.filter(x=>x!=Users_header).map(x=>x.split(",")).collect.toList.map{case Array(u,c,a)=>new Users(u.toInt,c,a.toInt)}
users.take(10)


val notes = ratings_data.filter(x=>x!=Rating_header).map(x=>x.split(",")).collect.toList.map{case Array(u,b,r)=>new Rating(u.toInt,b.toInt,r.toInt)}
notes.take(10)

books: List[Books] = List(Books@2789080d, Books@21ca5965, Books@2e4dd114, Books@45e0552f, Books@2a46f4fe, Books@59b481a2, Books@19b12ef1, Books@5ebf49c5, Books@4343a7e8, Books@3e8787b3, Books@2ed1e034, Books@a84654a, Books@54a6ff15, Books@561e502d, Books@77efca9a, Books@5e685f18, Books@3d555d97, Books@196efd28, Books@10dc4f85, Books@c505219, Books@1b7e1fe1, Books@7517261b, Books@7c5ff5b, Books@90bb520, Books@626132f7, Books@2e0ae75e, Books@69dfae3, Books@52ebfda5, Books@39768b85, Books@403fabe2, Books@291c0be4, Books@2417ddb7, Books@29b05013, Books@146d9e7c, Books@5de7f43e, Books@47877050, Books@6c9c807b, Books@147a6dea, Books@76de2d5f, Books@aa7c624, Books@2b01053, Books@456238d2, Books@42d141f4, Books@76f3296c, Books@74439d69, Books@20338f9b, Books@68a5b488, Books@7f248b9, Books@6fb22...

Exprimer les requêtes ci-dessous en opérateurs RDD

### Requêtes sur une seule table

#### Identifiants d'utilisateurs du pays 'france'

In [23]:
val s0 = users.filter(x=>x.country=="france")
s0.take(10)

s0: List[Users] = List(Users@42b03cb3, Users@201872e7, Users@64d7d9d2, Users@4d749355, Users@1380aa51, Users@4ce3933e, Users@4a921fc9, Users@7b1ddfca, Users@781fcc48, Users@54bc7cd5, Users@558cf30f, Users@66f301df, Users@6088ecc5, Users@57e57ed5, Users@6543fbad, Users@1bc0f323, Users@3c89da5a, Users@406608c8, Users@3a820dfa, Users@26c7b862, Users@546eedea, Users@243e9fe7, Users@ef9bb47, Users@15e60652, Users@3644a8b9, Users@66d5c831, Users@25b5642f, Users@c4225d, Users@13d6539c, Users@5b8a9597, Users@559016d5, Users@74e710f0, Users@558ce743, Users@5aa5e648, Users@fd67577, Users@43fa84ed, Users@717ec52e, Users@49cfaef, Users@385d4ac6, Users@2f176ccc, Users@28c78bb5, Users@4b6f57c0, Users@19362f11, Users@dd351f7, Users@19ddf9db, Users@283d7c77, Users@db90c6, Users@179035c3, Users@617515cb...

#### Identifiants des livres dont la date est 2000

In [24]:
var s1 = books.filter(x=>x.year==2000).map(x=>x.bookid)
s1.take(10)

s1: List[Int] = List(29, 37, 45, 52, 81, 84, 102, 114, 120, 127, 162, 170, 202, 212, 219, 231, 248, 283, 319, 328, 329, 340, 345, 356, 369, 373, 379, 396, 401, 411, 456, 459, 474, 509, 511, 520, 525, 581, 605, 606, 614, 622, 629, 661, 671, 696, 705, 708, 720, 726, 728, 750, 753, 762, 765, 767, 768, 772, 773, 775, 782, 790, 795, 810, 874, 880, 900, 912, 932, 938, 946, 976, 985, 1065, 1111, 1118, 1157, 1170, 1195, 1203, 1233, 1255, 1283, 1330, 1331, 1352, 1385, 1423, 1470, 1477, 1491, 1506, 1512, 1534, 1555, 1562, 1601, 1629, 1659, 1661, 1680, 1696, 1709, 1718, 1722, 1773, 1779, 1785, 1790, 1803, 1811, 1820, 1850, 1853, 1854, 1855, 1863, 1895, 1912, 1920, 1953, 1999, 2016, 2034, 2042, 2044, 2057, 2072, 2083, 2091, 2180, 2193, 2288, 2289, 2290, 2301, 2314, 2321, 2356, 2357, 2362, 2375, 238...

#### Identifiants des livres notés plus que 3

In [25]:
//notes==ratings
var s2 = notes.filter(x=>x.rating>3).map(x=>x.bookid)
s2.take(10)

s2: List[Int] = List(4780, 1837, 33829, 83629, 19993, 14817, 17085, 34237, 178121, 233882, 1028, 27517, 88357, 15603, 50712, 140338, 82884, 8273, 52802, 5733, 26790, 125302, 67467, 34540, 49233, 34541, 34542, 114615, 51928, 51927, 51925, 15185, 15189, 32211, 10787, 246901, 51928, 51927, 51925, 79832, 225454, 2997, 55603, 5732, 7217, 22200, 3740, 4350, 24410, 66563, 7295, 86299, 5678, 820, 10566, 63410, 103809, 15789, 45316, 38, 82045, 7084, 44442, 15388, 5546, 2252, 16304, 16305, 61557, 61548, 13246, 11672, 19953, 2687, 671, 4727, 9923, 16739, 19224, 106694, 2257, 3267, 37152, 6402, 6348, 1282, 63577, 244056, 2642, 22053, 12367, 5663, 5089, 2231, 148619, 11837, 61749, 7937, 14611, 5650, 10617, 167, 166864, 31644, 13784, 30967, 15699, 486, 44816, 55827, 14360, 3777, 20188, 39769, 138049,...

### Requêtes d'agrégation

#### Nombres d'utilisateurs par pays, triés par ordre décroissant de ce nombre

In [26]:
val q1 = users.map(x=>(x.country,1))
val rddq1 = sc.parallelize(q1)
val qq1=rddq1.reduceByKey(_+_).sortBy(_._2,false)
qq1.take(10)

q1: List[(String, Int)] = List((usa,1), (canada,1), (usa,1), (germany,1), (usa,1), (canada,1), (usa,1), (usa,1), (usa,1), (usa,1), (united kingdom,1), (canada,1), (usa,1), (usa,1), (usa,1), (usa,1), (usa,1), (germany,1), (usa,1), (australia,1), (germany,1), (germany,1), (united kingdom,1), (usa,1), (iran,1), (usa,1), (canada,1), (usa,1), (usa,1), (canada,1), (usa,1), (usa,1), (italy,1), (usa,1), (usa,1), (usa,1), (usa,1), (united kingdom,1), (usa,1), (portugal,1), (canada,1), (usa,1), (usa,1), (usa,1), (usa,1), (usa,1), (spain,1), (germany,1), (usa,1), (usa,1), (usa,1), (usa,1), (usa,1), (usa,1), (usa,1), (singapore,1), (usa,1), (ireland,1), (usa,1), (canada,1), (usa,1), (usa,1), (united kingdom,1), (germany,1), (united kingdom,1), (usa,1), (canada,1), (england,1), (france,1), (united k...

In [27]:
qq1.take(10)

res19: Array[(String, Int)] = Array((usa,18935), (canada,2505), (germany,1254), (unknown,1069), (united kingdom,1019), (australia,581), (spain,518), (france,309), (italy,211), (portugal,184))

#### Pays qui a le plus grand nombre d'utilisateurs. Il n y a pas d'ex aequo

In [28]:
val q2 = qq1.map(x=>x._1)
q2.take(10)

q2: org.apache.spark.rdd.RDD[String] = MapPartitionsRDD[27] at map at <console>:28
res20: Array[String] = Array(usa, canada, germany, unknown, united kingdom, australia, spain, france, italy, portugal)

#### Année avec le plus grand nombre de livres édités. Il n y a pas d'ex aequo

In [29]:
val q3 = books.map(x=>(x.year,1))
var drrd = sc.parallelize(q3)
var qq3=drrd.reduceByKey(_+_).sortBy(_._2,false)
qq3.take(10)

q3: List[(Int, Int)] = List((2001,1), (1991,1), (1999,1), (1991,1), (1998,1), (1994,1), (1999,1), (1994,1), (1999,1), (2001,1), (1999,1), (2004,1), (1997,1), (2000,1), (1996,1), (2003,1), (1998,1), (2000,1), (1988,1), (2002,1), (1993,1), (1996,1), (1979,1), (1995,1), (2000,1), (1994,1), (2001,1), (2002,1), (2002,1), (1997,1), (2000,1), (1999,1), (1988,1), (1982,1), (1992,1), (1986,1), (1991,1), (1995,1), (1978,1), (1994,1), (1994,1), (1998,1), (1997,1), (2003,1), (1983,1), (2003,1), (1991,1), (1987,1), (1988,1), (1995,1), (2000,1), (1990,1), (2000,1), (2002,1), (1999,1), (1991,1), (2001,1), (2001,1), (2001,1), (1994,1), (1998,1), (2001,1), (2001,1), (2002,1), (2000,1), (1996,1), (1995,1), (1986,1), (1995,1), (2003,1), (1992,1), (1995,1), (1996,1), (1994,1), (2000,1), (2003,1), (2003,1),...

In [35]:
qq3.join(qq3).take(10)

res26: Array[(Int, (Int, Int))] = Array((1984,(610,610)), (1940,(3,3)), (2000,(3692,3692)), (1932,(1,1)), (1948,(3,3)), (1972,(88,88)), (1996,(2730,2730)), (1988,(942,942)), (1976,(167,167)), (0,(906,906)))

### Requêtes avec jointure

#### Les éditeurs de livres ayant été notés par des utilisateurs habitant en France

In [32]:
s

In [ ]:

var rrdbooks = sc.parallelize(books)

In [ ]:
rrdbooks.join(notes)

#### Les éditeurs de livres n'ayant pas été notés par des utilisateurs habitant en France

#### Pour chaque livre, la moyenne d'age des utilisateurs qui l'ont noté